@if (item().subItems) {
<!-- Main menu item with subItems - only collapsible, no route -->
<button mat-list-item class="menu-item" (click)="toggleNested()">
  <mat-icon matListItemIcon>
    {{ item().icon }}
  </mat-icon>
  @if (!collapsed()) {
  <span matListItemTitle> {{ item().label }} </span>
  }
  <span matListItemMeta>
    @if (nestedMenuOpen()) {
    <mat-icon>expand_less</mat-icon>
    } @else {
    <mat-icon>expand_more</mat-icon>
    }
  </span>
</button>
} @else {
<!-- Single menu item without subItems - direct route -->
<a mat-list-item class="menu-item" [routerLink]="item().route" routerLinkActive="selected-menu-item"
  #rla="routerLinkActive" [activated]="rla.isActive">
  <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>
    {{ item().icon }}</mat-icon>
  @if (!collapsed()) {
  <span matListItemTitle> {{ item().label }} </span>
  }
</a>
}

@if (item().subItems && nestedMenuOpen()) {
<div @expandContractMenu>
  @for (subItem of item().subItems; track subItem.label) {
  <a mat-list-item class="menu-item" [class.indented]="!collapsed()" [routerLink]="subItem.route"
    routerLinkActive="selected-menu-item" #rla="routerLinkActive" [activated]="rla.isActive">
    <mat-icon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>
      {{ subItem.icon }}</mat-icon>
    @if (!collapsed()) {
    <span matListItemTitle> {{ subItem.label }} </span>
    }
  </a>
  }
</div>
}